@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0px)
    }
}

@keyframes slide-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

img {
    width: 100%
}

.fading-in{
    animation: fadeIn 5s;
}

.fading-up{
    text-align: center;
    align-content: center;
    opacity: 0;
    font-family: Comfortaa;
    animation: slide-out 3s;
    will-change: opacity, visibility;
}

.visible{
    text-align: center;
    align-content: center;
    font-family: Comfortaa;
    animation: slide-in 3s;
    opacity: 1;
    transform: none;
    visibility: visible;

}

.fading-up-box{

    font-family: Comfortaa;
    animation: slide-out 10s;
    opacity: 0;
    font-size: calc(1vw + 0.8vh);
    transform: none;
    visibility: visible;

    background: rgba(144, 110, 237, 0.69);
    color: white;
    margin: 20%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 500px;
}

.visible-box{

    font-family: Comfortaa;
    animation: slide-in 3s;
    opacity: 1;
    font-size: calc(1vw + 0.8vh);
    transform: none;
    visibility: visible;


    background: rgba(144, 110, 237, 0.69);
    color: white;
    margin: 20%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 500px;

}

@keyframes slide-left {
    from {
        transform: translateX(-55vw);
    }
    to {
        transform: translateX(0vw)
    }
}

@keyframes slide-back-left {
    from {
        transform: translateX(0vw);
    }
    to {
        transform: translateX(-55vw)
    }
}

@keyframes slide-right {
    from {
        transform: translateX(80vw);
    }
    to {
        transform: translateX(24vw)
    }
}

@keyframes slide-back-right {
    from {
        transform: translateX(24vw);
    }
    to {
        transform: translateX(80vw)
    }
}

.left-box{
    position: absolute;
    font-family: Comfortaa;
    animation: slide-left 1.2s;
    transform: translateX(0vw);
    vertical-align: center;
    width: 100%;
    z-index: 10;
}

.left-box-hidden{
    position: absolute;
    font-family: Comfortaa;
    animation: slide-back-left 1.2s;
    transform: translateX(-55vw);
    vertical-align: center;
    width: 100%;
    z-index: 10;
}

.right-box{
    position: absolute;
    font-family: Comfortaa;
    animation: slide-right 1.2s;
    transform: translateX(24vw);
    overflow-x: hidden;
    vertical-align: center;
    width: 100%;
    z-index: 10;
}

.right-box-hidden{
    position: absolute;
    font-family: Comfortaa;
    animation: slide-back-right 1.2s;
    transform: translateX(80vw);
    overflow-x: hidden;
    vertical-align: center;
    width: 100%;
    z-index: 10;
}

.num-button{
    z-index: 10;
    font-family: Comfortaa;
    font-size: 3vw;
    background: rgba(149, 114, 244, 0.69);
    border-color: #7355b0;
    border-width: 1vw;
    color: #dad2f4;
    width: 18vw;
    height: calc(6vw + 19vh);
    border-radius: 10vw;
}

.slide-container{
    color: #dad2f4;
    background: rgb(75, 54, 125);
    width: 75vw;
    height: calc(6vw + 19vh);
    display: flex;
    vertical-align: middle;
}

.prof{
    opacity: 1;
    background: rgb(75, 54, 125);
    color: #dad2f4;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 10vh;
    font-size: calc(1vh + 0.2vw);
}

.non-prof{
    opacity: 0;
    border-radius: 10vh;
    font-size: 1vh;
}

.visible-lang{
    font-family: Comfortaa;
    font-size: calc(1vw + 1vh);
    background: rgba(75, 54, 125, 0);
    border-radius: 10vh;
    border-style: solid;
    padding-top: 3vh;
    animation: slide-in 3s;
    color: rgb(185,166,237);
    border-color: #d7cceb;
    height: 100%;
}

.visible-lang:hover{
    font-family: Comfortaa;
    background: rgb(72, 46, 150);
    color: rgb(185,166,237);
    border-color: rgb(135, 112, 196);
}

.hidden-lang{
    font-size: calc(1vw + 1vh);
    height: 100%;
    padding-top: 3vh;
    border-radius: 10vh;
    opacity: 0;
    animation: slide-out 3s;
}

.project-box{
    font-family: Comfortaa;
    animation: slide-in 3s;
    visibility: visible;
    font-size: calc(0.5vw + 1vh);


    background: rgb(113, 82, 194);
    color: #dad2f4;
    margin: 3%;
    margin-right: 5%;
    margin-left: 5%;
    padding: 3%;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 20px;
}

.p-button {
    background-color: rgba(107, 92, 148, 0);
    color: #dad2f4;
    font-weight: bolder;
    text-align: center;
    border-radius: 20px;
    outline: #dad2f4;
    outline-style: solid;
    padding: 1%;

}

.p-button:hover {
    outline: rgba(255, 255, 255, 0.63);
    outline-style: solid;
    color: rgba(254, 254, 254, 0.78);
    background-color: rgba(62, 15, 162, 0.26);
}

.class-box{
    font-family: Comfortaa;
    animation: slide-in 3s;
    visibility: visible;
    font-size: calc(1vw + 1.5vh);
    display: flex;

    background: rgba(105, 72, 196, 0.69);
    color: #dad2f4;
    margin: 3%;
    margin-right: 5%;
    margin-left: 5%;
    padding: 3%;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 20px;
}

.school-fading{

    font-family: Comfortaa;
    animation: slide-out 10s;
    font-size: calc(1vw + 0.8vh);
    opacity: 0;
    transform: none;
    visibility: visible;
    width: 40%;


    background: rgba(105, 72, 196, 0.69);
    color: #dad2f4;
    padding: 3%;
    margin: 2%;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.school-box{

    font-family: Comfortaa;
    animation: slide-in 3s;
    font-size: calc(1vw + 0.8vh);;
    opacity: 1;
    transform: none;
    visibility: visible;
    width: 40%;


    background: rgba(105, 72, 196, 0.69);
    color: #dad2f4;
    padding: 3%;
    margin: 2%;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}