.main-header{
    font-family: Comfortaa;
    color: #452c7b;;
    font-weight: bolder;
    font-size: calc(2.7vh + 1.7vw);
    width: 50%;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 15px;
}

.main-text{
    font-family: Comfortaa;
    color: #52309b;
    font-size: calc(1vh + 1.7vw);
    width: 50%;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

.column-text{
    font-family: Comfortaa;
    color: rgb(185,166,237);
    font-size: calc(1vh + 1.4vw);
    text-align: center;
}

.mini-header-text{
    font-family: Comfortaa;
    color: rgb(185,166,237);
    font-weight: bold;
    font-size: calc(1.7vh + 1.7vw);
    width: 100%;
}