#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background: rgb(198,167,244);
  background: linear-gradient(90deg, rgba(198,167,244,1) 0%, rgba(165,139,241,1) 100%);
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.entry-button{
  margin: 10%;
  margin-top: 30vh;
  margin-bottom: 30vh;
  padding: 10vw;
  animation: fadeIn 5s;
  background-color: white;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em rgb(229, 224, 249));
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em rgba(141, 85, 231, 0.67));
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
